.twitter-tweet {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

div#main.container {
    padding-bottom: 80px;
}

footer {
    padding: 4rem 0;
    color: #e9ecef;
    background-color: #343a40;
}
  
footer .copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
    
ul.list-inline {
    display: flex;
    justify-content: center;
}

blockquote.twitter-tweet {
    padding-top: 10px;
    padding-bottom: 5px;
}

.sub-menu-item {
    padding: 0.75rem 0rem;
    background-color: #6c757d;
    opacity: 0.65;
}
.sub-menu-item.active {
    opacity: 1;
}
a.sub-menu-item {
    color: white;
}

