<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
    


    $(window).on("load", function() {
      $('button').on("click", function() {
        $('#test-widget').contents().find('a').text('hoge');
        //console.log($('test-widget').content());
        //console.log($('#test-widget').contents());
        //iframe.find('body').css('background-color', 'black');
        alert('test');
    });
      //$('#test-widget').contents().find('#content').text("aiueo");
      //$('#test-widget').contents().find('a').text('hoge');
      //var iframe = $(document.getElementById('test-widget').contentDocument);
      
      //console.log(document.getElementById('test-widget').contentDocument);

      //iframe.find('body').css('background-color', 'black');
      //iframe.find('body').css('background-color', 'black');
//      console.log(iframe.contents().remove());


      $(".evejapan-tweet").each(function(index, element) {
        // const tweet_id = $(element).attr("id");
        // const tweet = $("<div></div>", {
        //   id: tweet_id
        // });
        // $(element).after(tweet);
        // $(element).remove();

        // twttr.widgets.createTweet(
        //   tweet_id,
        //   tweet[0],
        //   {
        //     lang: "ja",
        //     width: 550,
        //     conversation: "none",
        //     cards: "hidden",
        //     align: 'center'
        //   }
        // );

        //console.log('#twitter-widget-' + index);
        //console.log($('#twitter-widget-' + index));

        //a = $('#twitter-widget-' + index).contents(); //.find(".CallToAction");
        //a.remove();

        //$('#test-widget').contents().find('a').css({color:'#ff0000'});
        //$('#test-widget').remove();
        
        //a = $('#test-widget').contents().find('a')
        //console.log("hoge");
        //console.log(a);  
        //b = a.find(".header_box").text("aiueo");
        //console.log(b);

        //console.log(a[0]);
        //alert($('#twitter-widget-' + index)[0]);
        //const iframe = $('#twitter-widget-' + index)[0].contentWindow.document;
        //$(".CallToAction", iframe).remove();
      });

      //a = $('#twitter-widget-' + index).contents(); //.find(".CallToAction");
//      a = $('#twitter-widget-555555').contents(); //.find(".CallToAction");
//      console.log(a.contents().find(".CallToAction"));
    //   twttr.widgets.createTweet(
    //     '1098231047320305664',
    //     document.getElementById('first-tweet'),
    //     {
    //       align: 'left'
    //     }
    //   );
    });

    </script>
-->

</head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Sample Page</h3>
        {% for tweet in tweets %}
        <blockquote style="visibility: hidden;" class="twitter-tweet" data-lang="ja" data-conversation="none" data-cards="hidden" data-align="center" data-width="550" data-height="300px"><p lang="ja" dir="ltr">{{ tweet.text }}</p>&mdash; {{ tweet.name }} (@{{ tweet.screen_name }}) <a href="https://twitter.com/tsuyup/status/{{ tweet.id }}?ref_src=twsrc%5Etfw">{{ tweet.created_at }}</a></blockquote>
        
        {% endfor %}

        <!--
        <button>ボタン</button>

        <div>
        <iframe width="600" height="500" id="test-widget" src="https://evekatsu.github.io/parrot-archives/"></iframe>
        </div>


        {% for tweet in tweets %}
        <blockquote id="{{ tweet.id }}" class="evejapan-tweet"><p lang="ja" dir="ltr">{{ tweet.text }}</p>&mdash; {{ tweet.name }} (@{{ tweet.screen_name }}) <a href="https://twitter.com/tsuyup/status/{{ tweet.id }}?ref_src=twsrc%5Etfw">{{ tweet.created_at.strftime('%Y年%-m月%-d日') }}</a></blockquote>
        {% endfor %}
        -->


        <!--
        {% for tweet in tweets %}
        <div>
          <img src="{{ tweet.profile_image_url_https }}">{{ tweet.text }}<br /> {{ tweet.urls }} <br />
          {{ tweet.id }} {{ tweet.screen_name }} {{ tweet.user_id }}
        </div>
        {% endfor %}
        -->
        
      </div>
    </div>

    <style>
      .twitter-tweet {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }

      a.CallToAction {
        display: none !important;
        visibility: hidden !important;
      }
    </style>
  </body>
</html>

