{% macro submenu_widget(menu_items, endpoint, active_item) %}
<div class="bs-component">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="padding: 0.5rem 1.5rem">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarColor03">
        <ul class="navbar-nav">
            {% for title, item in menu_items %}
            <li class="nav-item{% if active_item == item %} active{% endif %}">
                <a class="nav-link" href="{{ url_for(endpoint, submenu=item, **kwargs) }}">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
{% endmacro %}
