{% extends "base.html" %}

{% block head %}
<title>ツイッター | {{ SITENAME }}</title>
  
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@evekatsu" />
<meta name="twitter:title" content="ツイッター | {{ SITENAME }}" />
<meta name="twitter:url" content="{{ SITEURL }}/tweets" />
<meta name="twitter:image:src" content="{{ SITEURL }}/static/images/icon.png" />
<meta name="twitter:description" content="#evejapan のツイート一覧です" />

<meta property="og:type" content="website" />
<meta property="og:title" content="ツイッター | {{ SITENAME }}" />
<meta property="og:url" content="{{ SITEURL }}/tweets" />
<meta property="og:image" content="{{ SITEURL }}/static/images/icon.png" />
<meta property="og:description" content="#evejapan のツイート一覧です" />

<script src="https://platform.twitter.com/widgets.js"></script>

{% endblock head %}

{% block content %}

<div class="row">
    {% for title, link in TWEETS_MENUITEMS %}
        <a class="col-6 col-lg-3 text-center sub-menu-item{% if link == category %} active{% endif %}" href={{ url_for('tweets', page=1, category=link) }}>{{ title }}</a>
    {% endfor %}
</div>

{% for tweet in tweets.items %}
    <blockquote style="display: none" class="twitter-tweet"  data-lang="ja" data-conversation="none" data-align="center" data-width="550" data-height="300px">
        <img src="{{ tweet.profile_image_url_https }}" style="float: left; margin-right: 5px;" />
        <p>{{ tweet.text | safe }}</p>
        <p style="clear:both;"></p>
            &mdash; {{ tweet.name }} (@{{ tweet.screen_name }}) 
            <a href="https://twitter.com/{{ tweet.screen_name }}/status/{{ tweet.id }}?ref_src=twsrc%5Etfw">{{ tweet.created_at.strftime('%Y年%-m月%-d日') }}</a>
        </p>
        <hr />
    </blockquote>
{% endfor %}

<div style="margin-top: 40px"></div>

{% import "_pagination.html" as p %}
{% if tweets %}
    {{ p.pagination_widget(tweets, 'tweets', category=category) }}
{% endif %}

{% endblock content %}
